@{
    ViewData["Tratoria"] = "О нас";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    <title>О нас</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@300&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="Sel__6">
                <div class="Sel__6-img">
                    <img src="~/images/ImageAbout.png" />
                </div>
                <div class="Sel__6-inf">
                    <h1>О нас</h1>
                    <p>Наиболее важным для нас является предоставить вам комфортное и уютное кулинарное приключение.</p>
                </div>
            </div>
            <div class="Sel__6-hist">
                <table>
                    <tr>
                        <td class="textt">
                            <h1>Наша история</h1>
                            <p>
                                Четверо друзей объединились, чтоб создать уютное место для любителей итальянской кухни, и решили
                                открыть собственный ресторан, где каждый гость мог бы насладиться аутентичными итальянскими блюдами
                                и атмосферой.
                            </p>
                        </td>
                        <td>
                            <img src="~/images/Group 4.png" alt="Итальянская кухня">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="employee">
                <div class="left">
                    <h2>Менеджер</h2>
                    <h3>Антипов Екатерина</h3>
                    <img src="~/images/Image.png" alt="Екатерина">
                </div>
                <div class="right">
                    <p>Наш менеджер - истинный профессионал своего дела. Она обладает безупречным чувством стиля и элегантности, что отражается в каждой детали нашего заведения. С ее помощью наш ресторан становится настоящим уголком Италии, где каждый гость может насладиться изысканными блюдами и атмосферой итальянской гостеприимности. </p>
                </div>
            </div>
            <div class="employee">
                <div class="left2">
                    <p>Уникальное чувство вкуса и профессионализм шеф-повара позволяют создавать блюда, которые переносят нас в саму  Италии. Каждое блюдо, приготовленное им, отличается изысканностью и неповторимым вкусом, а ее творчество вдохновляет наших гостей на настоящую кулинарную экскурсию.</p>
                </div>
                <div class="right2">
                    <h2>Шеф-повар</h2>
                    <h3>Назмеева Ангелина</h3>
                    <img src="~/images/Image (1).png" alt="Ангелина">
                </div>
            </div>
            <div class="employee">
                <div class="left">
                    <h2>Инвестор</h2>
                    <h3>Ахунова Диляфруз</h3>
                    <img src="~/images/photo1709276858.jpeg" alt="Диляфруз">
                </div>
                <div class="right">
                    <p>Наш инвестор - истинный профессионал своего дела. Она обладает безупречным чувством стиля и элегантности, что отражается в каждой детали нашего проекта. С ее помощью наше пространство становится настоящим уголком Италии, где каждый посетитель может насладиться изысканными возможностями и атмосферой итальянского гостеприимства.</p>
                </div>
            </div>
            <div class="employee">
                <div class="left2">
                    <p>Наш администратор - настоящий профессионал своего дела. Он обладает исключительным чувством ответственности и внимания к деталям, что отражается в каждом аспекте работы нашего проекта. Благодаря его усердию и организационным навыкам наше предприятие функционирует как часы, обеспечивая комфорт и эффективность для всех наших клиентов. С его помощью наш бизнес становится местом, где каждый посетитель чувствует себя желанным гостем, получая высочайший уровень сервиса и внимания.</p>
                </div>
                <div class="right2">
                    <h2>Администратор</h2>
                    <h3>Даутова Диляра</h3>
                    <img src="~/images/image 23.png" alt="Ангелина">
                </div>
            </div>

            <div class="Kanape">
                <h1>Sembra delizioso</h1>
                <h3>La cucina italiana è un viaggio per i sensi, che ti trasporta direttamente in Italia.</h3>
            </div>
            <div class="Meat">
                <table>
                    <tr>
                        <td>
                            <img src="~/images/Image (42).png" >
                        </td>
                        <td>
                            <h2>01.Нарезка</h2>
                            <p>Процесс нарезки - это настоящее искусство, которое придает блюдам не только эстетическую привлекательность, но и усиливает их вкусовые качества. Нарезка продуктов является важным этапом приготовления блюд, где опыт и мастерство повара сливаются воедино.</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="cl">
                            <h2>03.Готовка</h2>
                            <p>Повары проверяют свежесть и качество продуктов, необходимых для приготовления блюд. Ингредиенты могут быть нарезаны, очищены, маринованы или приготовлены по необходимости.</p>

                            <img src="~/images/Image (44).png" >
                        </td>
                        <td>
                            <img src="~/images/Image (43).png" alt="meat ">
                            <h2>02.Маринование</h2>
                            <p>Маринование - процесс консервирования пищевых продуктов, при котором они помещаются в раствор соли или уксуса для придания им особого вкуса.</p>
                        </td>
                    </tr>
                </table>
        </main>
    </div>
</body>
</html>
