@{
    ViewData["Tratoria"] = "Контакты";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/Contacts.css" asp-append-version="true" />
    <title>Контакты</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@300&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="sel__1">
                <div class="sel__1-img">
                    <img src="~/images/ConBack(1).png" width="100%"/>
                </div>
                <div class="sel__1-inf">
                    <h1>Контакты</h1>
                    <table class="sec__1-tb">
                        <tr>
                            <td>Время работы</td>
                            <td></td>
                            <td>Ежедневно</td>
                        </tr>
                        <tr>
                            <td colspan="3">...............................................................................................................................................</td>
                        </tr>
                        <tr>
                            <td>Завтрак</td>
                            <td>Обед</td>
                            <td>Ужин</td>
                        </tr>
                        <tr>
                            <td>8:00–12:00</td>
                            <td>12:00–16:00</td>
                            <td>16:00–23:30</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="sec__2">
                <table>
                    <tr>
                        <td class="background-image">
                            <img src="~/images/Con2.png" alt="Main Image" width="400px">
                        </td>
                        <td class="pyst">
                        </td>
                        <td class="contact">
                            <p>С нами можно</p><p> связаться по электронной почте</p><p>
                                <span>info@trattoria.com</span>
                                или позвоните
                            </p><p> по телефону <span>+86 852 346 000</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="Address">
                            <p>Мы находимся в Казани,</p>
                            <p> на улице Большая Красная, 55.</p>
                            <div class="btn">
                                <a href="https://yandex.ru/maps/-/CDVJ7H9U">
                                    <button>Посмотреть на картах</button>
                                </a>
                            </div>
                        </td>
                        <td class="pyst">
                        </td>
                        <td>
                            <img src="~/images/Con3.png" alt="Addres" width="400px">
                        </td>
                    </tr>
                </table>
            </div>

        </main>
    </div>
</body>
</html>

