@{
    ViewData["Tratoria"] = "Популярные блюда";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/PopularDishes.css" asp-append-version="true" />
    <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@300&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <main>
            <div class="select__1">
                <div class="select__1-img">
                    <img src="~/images/populardish1(1).png" width="100%" />
                </div>
                <div class="select__1-inf">
                    <h1>Популярные блюда</h1>
                    <p>Свежайшие ингридиенты для каждого блюда</p>
                </div>
            </div>
            <div class="select__2">
                <div class="select__2-inf">
                    <h1>Салаты</h1>
                    <p>Свежие и вкусные салаты, приготовленные из отборных ингредиентов.</p>
                </div>
                <table class="select__2-tb">
                    <tr>
                        <td rowspan="12">
                            <img src="~/images/pomidirki.png" alt="Изображение" width="600px">
                        </td>
                        <td>
                            <h3>890₽</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>Капрезе</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Сочные помидоры, моццарелла и базилик, политые оливковым маслом, солью и перцем.</p>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>890₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>
                                Салат с горгонзолой и грушей
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td> <p>Горгонзола, груша, уникальное сочетание.</p></td>
                    </tr>
                    <tr>
                        <td><h3>890₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><h1>Руккола с пармезаном и грецкими орехами</h1></td>
                    </tr>
                    <tr>
                        <td>Руккола, пармезан, грецкие орехи, оливковое масло и лимонный сок.</td>
                    </tr>
                </table>
            </div>
            <div class="select__3">
                <div class="select__3-inf">
                    <h1>Основное</h1>
                    <p>Насыщенное ассортиментом блюд с острыми и пикантными вкусами, чтобы разогреть ваш аппетит.</p>
                </div>
                <table class="select__3-tb">
                    <tr>
                        <td>
                            <h3>890₽</h3>
                        </td>
                        <td rowspan="12">
                            <img src="~/images/meet.png" alt="Изображение" width="500px" height="auto">

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>Паста карбонара</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Спагетти, гуанчиале, яйца, сыр пармезан, перец</p>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>890₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>
                                Стейк на розмариновом масле
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td> <p>Говядина, розмарин, оливковое масло, чеснок</p></td>
                    </tr>
                    <tr>
                        <td><h3>890₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><h1>Лазанья</h1></td>
                    </tr>
                    <tr>
                        <td> <p>Листы теста пасты, соус болоньезе, бешамельный соус, сыр.</p></td>

                    </tr>
                </table>
            </div>
            <div class="select__4">
                <div class="select__4-inf">
                    <h1>Напитки</h1>
                    <p>Широкий выбор освежающих и вкусных напитков для любого вкуса.</p>
                </div>
                <table class="select__4-tb">
                    <tr>
                        <td rowspan="12">
                            <img src="~/images/apperol.png" alt="Изображение" width="600px">
                        </td>
                        <td>
                            <h3>390₽</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>Беллини</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Просекко, персиковый сок</p>
                        </td>
                    </tr>
                    <tr>
                        <td><h3>290₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h1>
                                Тоскана
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td> <p>Грейпфрутовый сок, апельсиновый сок, лимонный сок, сироп гренадин, просекко</p></td>
                    </tr>
                    <tr>
                        <td><h3>590₽</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                ..........................................................................................................................................................................
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><h1>Россини</h1></td>
                    </tr>
                    <tr>
                        <td>
                            <p>Просекко, клубничное пюре</p>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
