* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.main {
    max-width: 1600px;
    margin: 0 auto; 
    padding: 0 20px;
    padding-bottom: 90px;
}

.select__1 {
    height: 700px;
}

.select__1-inf {
    position: relative;
    width: 60%;
    left: %;
    top: -250px;
    color: white;
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__1-inf h1 {
        font-size: 80px;
        margin-bottom: 20px;
    }

    .select__1-inf p {
        font-size: 24px;
    }

.select__2 {
    height: 900px;
    position: relative;
}

.select__2-tb_wrapper {
    margin: 0 auto;
}
.select__2-inf {
    text-align: center;
    position: relative;
    align-items: center;
    top: -10%;
    color: black;
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__2-inf h1 {
        font-size: 50px;
    }

.select__2-tb {
    position: relative;
    top: -5%;
    margin: auto;
    width: 80%;
    border-collapse: collapse; 
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__2-tb img {
        margin-right: 30px;
    }

    .select__2-tb h3 {
        text-align: right;
    }

    .select__2-tb h1 {
        text-align: left;
    }

    .select__2-tb p {
        text-align: left;
    }

.select__3 {
    height: 900px;
    position: relative;
}

table {
    margin: 0 auto; 
}

.select__3-inf {
    text-align: center;
    position: relative;
    align-items: center;
    color: black;
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__3-inf h1 {
        font-size: 50px;
        font-family: 'Rufina', serif;
        font-style: italic;
        font-weight: 300;
    }

.select__3-tb h1 {
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

.select__3-tb p {
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

.select__3-tb img {
    margin-left: 30px;
}

.select__3-tb h3 {
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    text-align: right;
}

.select__3-tb h1 {
    text-align: left;
}

.select__3-tb p {
    text-align: left;
}

.select__4 {
    height: 900px;
    position: relative;
}

.select__4-tb_wrapper {
    margin: 0 auto;
}

.select__4-inf {
    text-align: center;
    position: relative;
    align-items: center;
    top: -10%;
    color: black;
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__4-inf h1 {
        font-size: 50px;
    }

.select__4-tb {
    position: relative;
    top: -5%;
    margin: auto;
    width: 80%;
    border-collapse: collapse; 
    font-family: 'Rufina', serif;
    font-style: italic;
    font-weight: 300;
}

    .select__4-tb img {
        margin-right: 30px;
    }

    .select__4-tb h3 {
        text-align: right;
    }

    .select__4-tb h1 {
        text-align: left;
    }

    .select__4-tb p {
        text-align: left;
    }
